* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

:root{
    --black: black;

}

body{
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--black);
}

ul {
    list-style: none;
 }


main{
    display: flex;
    flex-direction: column;
    /* padding: 50PX;
    gap: 30px; */
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

h1{
    color: #486284;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.texto{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.todo{
    display: flex;
    flex-direction: column;
}

.filter{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* .filter li {
    border-bottom: 1px solid gray;
    font-weight: normal;
    width: 100%;
    text-align: center;
    cursor: pointer;
} */
  
.filter li:hover {
    border-bottom: 2px solid black; /* línea negra al pasar el mouse */
    font-weight: bold; /* fuente en negrita al pasar el mouse */
}
.navFilter{
    color: black;
    margin: 2% 0;
    width: 100%;    
    padding-bottom: 1%;
    margin-bottom: 1%;
    text-align: center;
}

.active {
    font-weight: bold; 
    border-bottom: 2px solid black;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.inactive {
    color:black;
    border-bottom: 1px solid #486284;
    font-weight: normal;
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    width: 90%;
    margin-left: 2%;
    
}

.carta{
    background-color: #DEE5ED;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 4%;
    border: none;
    margin: 5% 0;
    width: 90%;
}

.contenidocarta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.etiqueta{
    font-weight: bolder;
}

.pokemoncarta{
    margin: 10%;
    background-color: white;
    max-height: 200px;
    border-radius: 8px;
}

.buy{
    color: white;
    background-color: #306BB3;
    padding: 8px 25px;
}

.buttonMore{
    color: white;
    background-color: #306BB3;
    padding: 8px 25px;
}

.vercartas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* position: relative; */
    right: 0;
    margin: 5%;
}

.cartas{
    color: #306BB3;
    position: absolute;
    right: 0;
}

